@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.pageContainer{
    display: flex;
    margin: 0%;
    padding: 0%;
    top: 0px;
    height: 100vh;
    width: 100%;
}

.findBookText{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
    padding: 0;
    align-items: center;
    text-align: center;
}

.search{

}

.findBookResults{
    display: flex;
    flex-direction: column;
}


.home.homeTitle{
    font-family: 'Berkshire Swash', cursive !important;
    text-shadow: 1px 2px black;
    width: max-content;
    text-decoration: none;
    color: whitesmoke;
    font-size: 38px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    
}

.h1TextContainer{
    font-family: Helvetica; 
    color: whitesmoke;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

