@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


.appBar{
    background-color: #521705 !important;
    background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    
}

.navBarTitle{
    font-family: 'Berkshire Swash', cursive !important;
    text-shadow: 2px 3px black;
    text-decoration: none;
    color: azure;
    font-size: 34px;
    text-align: center;
    padding: 10px;
    margin: 5px;

}

.homeBtn{
    width: fit-content; 
    justify-items: end;
    text-decoration: none;
}

.signUpBtn{
    width: fit-content; 
    justify-items: end;
    text-decoration: none;
}

.wishListBtn{
    width: fit-content; 
    justify-items: end;
    text-decoration: none;
}