@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


.appBar{
    position: sticky;
    height: 100%;
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-top: 3px inset black;
    border-bottom: 3px inset black;
    z-index: 1;
}

.navBarTitle{
    font-family: 'Berkshire Swash', cursive !important;
    text-shadow: 2px 3px silver;
    text-decoration: none;
    color: black;
    font-size: 34px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.btnBox{
    margin: 3px;
}

.logOutBtn{
    margin: 3px;
}

.loginBtn{

}

.homeBtn{
    width: fit-content; 
    justify-items: end;
    text-decoration: none;
}

/*.signUpBtn{
    width: fit-content; 
    justify-items: end;
    text-decoration: none;
}

.wishListBtn{
    width: fit-content; 
    justify-items: end;
    text-decoration: none;
} */