.pageContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.heroImg{
  max-width: 500px;
  margin: 0 auto;
  border: 20px ridge transparent;
  background-color: #573700;
  border-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png") 30 stretch ;
  /* border-image: url("https://www.transparenttextures.com/patterns/purty-wood.png") 30 stretch ; */
}

.infoContainer{
  justify-self: center;
  align-self: center;
  padding-bottom: 150px;
}

.infoTitle{
  text-decoration: underline 2px black;
}

.infoContainer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center; 
}