.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica; 
    flex: 0 1 15em;
    background:transparent;
    overflow: hidden;
    align-self: flex-end;
    height: 350px;
    width: 350px;
    align-items: center;
    transition:all .5s ease;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 2px #41403E;
 }
 
 .card:hover{
   box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
 
 .imgBox{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 160px;
 }
 
 .coverImg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
    min-width: 100%;
    min-height: 100%;
 }
 
 .textBox{
    width: 100%;
 }
 
 .titleTxt{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
 }
 
 .authorTxt{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
 }
 
 .btnBox{
    background-color: slategrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 
 .removeBookBtn{
   
 }
 
 /* .wishListBtn{
     
 } */